<h2>Update Title</h2>

<.simple_form :let={f} for={@changeset} action={~p"/topics/#{@topic}"} method="put" >
  <div class="form-group" font-size = "100%">
    <.input field={f[:title]}/>
  </div>

  <:actions>
    <.button>Save</.button>
    </:actions>
  </.simple_form>

